



<div id="filterrific_results">

 <div class="well well-sm kaminari_entries_info">
    <div class="filter_field kaminari_entries_info_text">
      <%= page_entries_info names %>
    </div>
    <div class="filter_field">
      <%= render_filterrific_spinner %>
    </div>
  </div>



  <table class="table table-striped tabbody">
      <tr>
      <th>Emri</th>
      <th>Gjinia</th>
      <th>Kuptimi</th>
      </tr>
 
      <% names.each do |n| %>
      <tr>
         <td><%= n.name %></td>
         <td><%= n.name_gender.name %></td> 
	       <td><%= n.meaning %></td> 
      </tr>
  <% end %>
  </table>

  <div>
    <%= paginate names %>
  </div>
</div>

