

  <div class="col-md-9">
  <div class='well well-lg'>

    <%= form_for_filterrific @filterrific do |f| %>
    
    <div class="row">
      <div class="span1 filter_field">
        <%= f.label :with_gender, 'Gjinia:' %>
        <%= f.select :with_gender,
                     Gender.all.collect {|g| [ g.name, g.id ] },
                     { :include_blank => '-Gjitha-' },
                     { :class => 'form-control' } %>
      </div>
      <div class="span2 filter_field">
        <%= f.label :with_meaning, 'Lloji:' %>
        <%= f.select :with_meaning,
                     NameType.all.collect {|g| [ g.name, g.id ] },
                     { :include_blank => '-Gjithë-' },
                     { :class => 'form-control' } %>
      </div>
      <div class="span3 filter_field">
        <%= f.label :with_length, 'Gjatësia:' %>
        <%= f.select :with_length,
                     NameLength.all.collect {|g| [ g.name, g.id ] },
                     { :include_blank => '-Gjitha-' },
                     { :class => 'form-control' } %>                                          
      </div>


      
      <!-- <div class="span4 filter_field">
        <%= f.label :with_length, 'Kërkim me tekst:' %>
        <%= f.text_field(
                    :search_query,
                    class: 'filterrific-periodically-observed form-control'
                    ) %>
      </div>    -->
      <div class="span5 filter_btn">
       		
		<a class="btn btn-default" id="btnReset" title="Kthe gjendjen fillestare" href="">Rivendos</a>

      </div>			

      <div style="float:left;">
          <img class="logo_img" src='<%= image_path('emra_logo.png') %>'></a>
      </div>
		 

<%= f.hidden_field :with_letter, :value=>'A', :id=>'hidden_letter' %>
</div>
  <div id="letters">
    <div id="begins_with">
      <span>Fillon me germën: </span>
    </div>
  <% @filterrific.select_options[:with_letter].each do |l| %>
      <% if l.to_s=='A' %>
        <%= link_to l,'', :class=>'btn-warning btn-lg letter' %>  
      <% else %>
        <%= link_to l,'', :class=>'btn-primary btn-lg letter' %>  
      <% end %>    	
      <% if l.to_s=='H' or l.to_s=='Rr' %>
          <br/><br/>
      <% end %>
  <% end %>
  </div>
</div>
</div>

<% end %>



  <div class="col-md-9">
  <div >
    <%= render(
      partial: 'names/list',
      locals: { names: @names }
    ) %>

   
  </div>
  </div>

  <div class="right-column">
     <%= render(
      partial: 'shared/growthLinks'      
    ) %>   
  </div>


</div>



