
  <div class="page-content container">
  <div class='page-header' style='margin-bottom: 20px;'>
    <h1>Emra shqip</h1>
  </div>
  
  <div class='well'>

    <%= form_for @filterrific,:html => { :class => "form-inline"} do |f| %>
    
    <div class="row">
      <div class="span1 filter_field">
        <%= f.label :with_gender, 'Gjinia:' %>
        <%= f.select :with_gender,
                     Gender.all.collect {|g| [ g.name, g.id ] },
                     { :include_blank => '' },
                     { :class => 'form-control' } %>
      </div>
      <div class="span2 filter_field">
        <%= f.label :with_meaning, 'Kuptimi:' %>
        <%= f.select :with_meaning,
                     NameType.all.collect {|g| [ g.name, g.id ] },
                     { :include_blank => '' },
                     { :class => 'form-control' } %>
      </div>
      <div class="span3 filter_field">
        <%= f.label :with_length, 'Gjatësia:' %>
        <%= f.select :with_length,
                     NameLength.all.collect {|g| [ g.name, g.id ] },
                     { :include_blank => '' },
                     { :class => 'form-control' } %>                                          
      </div>
      <div class="span4 filter_field">
        <%= f.label :with_length, 'Kërkim me tekst:' %>
        <%= f.text_field(
                    :search_query,
                    class: 'filterrific-periodically-observed form-control'
                    ) %>
      </div>   
      <div class="span5 filter_btn">
        <%= link_to reset_filterrific_names_path, class: "btn btn-primary", title: "Rivendos" do %>
          <i class="glyphicon glyphicon-repeat"></i>
        <% end %>

      </div>					 

<%= f.hidden_field :with_letter, :value=>'', :id=>'hidden_letter' %>
</div>
<div id="letters">
  <div id="begins_with">
    <span>Fillon me germen: </span>
  </div>
<% @filterrific.select_options[:with_letter].each do |l| %>
  	<%= link_to l,'', :class=>'btn-primary btn-xs letter' %> |  	
    <% if l.to_s=='N' %>
        <br/><br/>
    <% end %>
<% end %>
</div>

 
</div>



<% end %>

 




 
<%= render(
  partial: 'names/list',
  locals: { names: @names }
) %>
</div>