

  <div class="col-md-9">
  <div class='well well-lg'>

    <%= form_for @filterrific,:html => { :class => "form-inline"} do |f| %>
    
    <div class="row">
      <div class="span1 filter_field">
        <%= f.label :with_gender, 'Gjinia:' %>
        <%= f.select :with_gender,
                     Gender.all.collect {|g| [ g.name, g.id ] },
                     { :include_blank => '-Gjitha-' },
                     { :class => 'form-control' } %>
      </div>
      <div class="span2 filter_field">
        <%= f.label :with_meaning, 'Lloji:' %>
        <%= f.select :with_meaning,
                     NameType.all.collect {|g| [ g.name, g.id ] },
                     { :include_blank => '-Gjithë-' },
                     { :class => 'form-control' } %>
      </div>
      <div class="span3 filter_field">
        <%= f.label :with_length, 'Gjatësia:' %>
        <%= f.select :with_length,
                     NameLength.all.collect {|g| [ g.name, g.id ] },
                     { :include_blank => '-Gjitha-' },
                     { :class => 'form-control' } %>                                          
      </div>


      
      <!-- <div class="span4 filter_field">
        <%= f.label :with_length, 'Kërkim me tekst:' %>
        <%= f.text_field(
                    :search_query,
                    class: 'filterrific-periodically-observed form-control'
                    ) %>
      </div>    -->
      <div class="span5 filter_btn">
        <%= link_to reset_names_path, class: "btn btn-primary", title: "Kthe gjendjen fillestare" do %>
          <i class="glyphicon glyphicon-repeat"></i>
        <% end %>

      </div>			

      <div style="float:left;">
        <%= link_to reset_names_path do %>
          <img class="logo_img" src='<%= image_path('emra_logo.png') %>'></a>
        <% end %>
      </div>
		 

<%= f.hidden_field :with_letter, :value=>'A', :id=>'hidden_letter' %>
</div>
  <div id="letters">
    <div id="begins_with">
      <span>Fillon me germën: </span>
    </div>
  <% @filterrific.select_options[:with_letter].each do |l| %>
      <% if l.to_s=='A' %>
        <%= link_to l,'', :class=>'btn-warning btn-sm letter' %>  
      <% else %>
        <%= link_to l,'', :class=>'btn-primary btn-sm letter' %>  
      <% end %>    	
      <% if l.to_s=='N' %>
          <br/><br/>
      <% end %>
  <% end %>
  </div>
</div>
</div>

<% end %>



  <div class="col-md-9">
  <div class="names_div">
    <%= render(
      partial: 'names/list',
      locals: { names: @names }
    ) %>

      <div class="right-column">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Emrat e ditës <span class="top-names-date"> - <%= DateTime.now.strftime("%d.%m.%Y") %></span></h3>
        </div>
        <div class="panel-body">
          <div class="random">
            <div>
              <span class="random_name male-name"><%= Name.random_male.name %></span>
            </div>
            <div>
              <span class="random_meaning"><%= Name.random_male.meaning %></span>
            </div>
          </div>          
          <div class="random_f">
            <div>
              <span class="random_name female-name"><%= Name.random_female.name %></span>
            </div>
            <div>
              <span class="random_meaning"><%= Name.random_female.meaning %></span>
            </div>
          </div>
        </div>
    </div>

    

    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Statistikë</h3>
        </div>
        <div class="panel-body stats">
          <div class="stat_item">Gjithsejt emra shqiptarë = <strong><%= Name.total_names.to_s %></strong></div>
          <div class="stat_item">Emra shqiptarë për djem = <strong><%= Name.total_male_names.to_s %></strong></div>
          <div class="stat_item">Emra shqiptarë për vajza = <strong><%= Name.total_female_names.to_s %></strong></div>
          <div class="stat_item">Gjithsejt emra mysliman = <strong><%= Name.total_muslim_names.to_s %></strong></div>
          <div class="stat_item">Emra mysliman për djem = <strong><%= Name.total_male_muslim_names.to_s %></strong></div>
          <div class="stat_item">Emra mysliman për vajza = <strong><%= Name.total_female_muslim_names.to_s %></strong></div>
        </div>
    </div>
  </div>
  </div>
  </div>



</div>



