
  <div class="page-content container">
  <div style='margin-bottom: 20px;'>
  </div>
  <div class="col-md-3">LOGO
    <!-- <h1>emra.info</h1> gjithe emrat shqipetare ne nje vend dhe ne cdo kohe--> 
  </div>
  <div class="col-md-9">
  <div class='well well-lg'>

    <%= form_for @filterrific,:html => { :class => "form-inline"} do |f| %>
    
    <div class="row">
      <div class="span1 filter_field">
        <%= f.label :with_gender, 'Gjinia:' %>
        <%= f.select :with_gender,
                     Gender.all.collect {|g| [ g.name, g.id ] },
                     { :include_blank => '' },
                     { :class => 'form-control' } %>
      </div>
      <div class="span2 filter_field">
        <%= f.label :with_meaning, 'Kuptimi:' %>
        <%= f.select :with_meaning,
                     NameType.all.collect {|g| [ g.name, g.id ] },
                     { :include_blank => '' },
                     { :class => 'form-control' } %>
      </div>
      <div class="span3 filter_field">
        <%= f.label :with_length, 'Gjatësia:' %>
        <%= f.select :with_length,
                     NameLength.all.collect {|g| [ g.name, g.id ] },
                     { :include_blank => '' },
                     { :class => 'form-control' } %>                                          
      </div>
      <!-- <div class="span4 filter_field">
        <%= f.label :with_length, 'Kërkim me tekst:' %>
        <%= f.text_field(
                    :search_query,
                    class: 'filterrific-periodically-observed form-control'
                    ) %>
      </div>    -->
      <div class="span5 filter_btn">
        <%= link_to reset_filterrific_names_path, class: "btn btn-primary", title: "Kthe gjendjen fillestare" do %>
          <i class="glyphicon glyphicon-repeat"></i>
        <% end %>

      </div>					 

<%= f.hidden_field :with_letter, :value=>'', :id=>'hidden_letter' %>
</div>
<div id="letters">
  <div id="begins_with">
    <span>Fillon me germën: </span>
  </div>
<% @filterrific.select_options[:with_letter].each do |l| %>
  	<%= link_to l,'', :class=>'btn-primary btn-sm letter' %> 	
    <% if l.to_s=='N' %>
        <br/><br/>
    <% end %>
<% end %>
</div>

 
</div>

</div>


<% end %>

 

<div class="col-md-3">
  <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Gjithsejt emra shqiptarë:</h3>
      </div>
      <div class="panel-body">
        3.140
      </div>
  </div>


  <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Gjithsejt emra për djem:</h3>
      </div>
      <div class="panel-body">
        1.423
      </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Gjithsejt emra për vajza:</h3>
      </div>
      <div class="panel-body">
        1.717
      </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Gjithsejt emra mysliman:</h3>
      </div>
      <div class="panel-body">
        430
      </div>
  </div>


</div>
<div class="col-md-9">

 
<%= render(
  partial: 'names/list',
  locals: { names: @names }
) %>
</div>
</div>
