<h4><strong>Zhvillimi i foshnjës</strong></h4>
   
   <div class="divRightGrowth"> 
    <h6><strong>Foshnja e sapolindur dhe 1 javëshe</strong></h6>
    <a href="/foshnja-e-posalindur"><%= image_tag('foshnja1.jpg') %></a>
   </div>

   <div class="divRightGrowth"> 
     <h6><strong>Foshnja 2 javëshe</strong></h6>
     <a href="/foshnja-2-javeshe"><%= image_tag('foshnja2.jpg') %></a>
   </div>

   <div class="divRightGrowth"> 
     <h6><strong>Foshnja 3 javëshe</strong></h6>
     <%= image_tag('foshnja3.jpg') %>
   </div>

   <div class="divRightGrowth"> 
     <h6><strong>Foshnja 4 javëshe</strong></h6>
     <%= image_tag('foshnja4.jpg') %>
   </div>

   <!--<div class="divRightGrowth"> 
     <h6><strong>Foshnja 5 javëshe</strong></h6>
     <%= image_tag('foshnja5.jpg') %>
   </div>

    <div class="divRightGrowth"> 
     <h6><strong>Foshnja 6 javëshe</strong></h6>
     <%= image_tag('foshnja6.jpg') %>
   </div>

   <div class="divRightGrowth"> 
     <h6><strong>Foshnja 7 javëshe</strong></h6>
     <%= image_tag('foshnja7.jpg') %>
   </div>-->