<!DOCTYPE html>
<html>
<head>
  <title>EMRA.info | emra shqip,  emra shqiptare, emra per djem, emra per vajza, emra shqip per djem, emra shqip per vajza, emra musliman</title>
  <meta name="description" content="databaza e emrave shqipëtarë" />
  <meta name="keywords" content="emra, emra shqip,  emra shqiptare, emra per djem, emra per vajza, emra shqip per djem, emra shqip per vajza, emra musliman" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag image_path('favicon.ico') %>
</head>
<body>

<div class="page-content container">
<div style='margin-bottom: 20px;'></div>

<div class="col-md-3 logo">
    <%= link_to reset_names_path do %>
  		<img class="logo_img" src='<%= image_path('emra_logo.png') %>'></a>
  	<% end %>
</div>

<%= yield %>

<div class="footer">
	©<%= Time.now.year %> EMRA.info
</div>

<a href="#" title="Shko në fillim" class="scrollToTop" />
</body>
</html>
