<!DOCTYPE html>
<html>
<head>
  <title>EMRA.info | emra shqip,  emra per djem, emra per vajza, emra modern</title>
  <meta name="description" content="emra shqip,  emra per djem, emra per vajza, emra modern" />
  <meta name="keywords" content="emra shqip,emra per djem,emra per vajza,emra modern,emra shqiptare,emra shqip per djem,emra shqip per vajza,emra per bebe,emra musliman" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag image_path('favicon.ico') %>
</head>
<body>

<div class="page-content container">
<div style='margin-bottom: 20px;'></div>



<%= yield %>

<div class="footer">
	©<%= Time.now.year %> EMRA.info
</div>

<a href="#" title="Shko në fillim" class="scrollToTop" />

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56f468ee8285d2b7"></script>


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56f468ee8285d2b7"></script>


</body>
</html>
